{% extends 'base.html' %}
{% block nav %}
    {% if perms.tracker.change_project %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'update_project' project.pk %}">Update Project</a>
        </li>
    {% endif %}
    {% if perms.tracker.delete_project %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'delete_project' project.pk %}">Delete Project</a>
        </li>
    {% endif %}
    {% if perms.tracker.add_issue and request.user in project.user.all%}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'create_issue' project.pk %}">Add new issue</a>
        </li>
    {% endif %}
    {% if perms.tracker.can_update_users_in_project and request.user in project.user.all%}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'update_users' project.pk %}">Update User List</a>
        </li>
    {% endif %}


{% endblock nav %}


{% block content %}
    <div style="text-align: center">
        <h3>Title: {{ project.name }}</h3>
        <p>Description: {{ project.description }}</p>
        <p>Start Date: {{ project.start_date }}</p>
        <p>End Date: {{ project.end_date }}</p>
    </div>

    <div style="text-align: center">
        <h5>Users</h5>
        {% for user in project.user.all %}
            <p>{{ user.username }}</p>
        {% endfor %}
    </div>



    <h2>Issues:</h2>
    {% for issue in issues %}
                <div class="w-50 mx-auto card text-center border-0" style="margin-top: 40px; background-color: #0723D7; color: azure" >
          <div class="card-body">
              <h5>ISSUE: {{ issue.summary|upper }} </h5><br/>
              <p>Status: {{ issue.status }}</p>
              <p>Types: {% for type in issue.type.all %}{{ type }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
              <a href="{% url 'detail_view' issue.id %}" class="btn btn-primary" style="background-color: navy; border: none; color: goldenrod">View details</a>
          </div>
        </div>
    {% endfor %}


        {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}