{% extends 'base.html' %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'create_project' %}">Add New Project</a>
</li>
{% endblock nav %}

{% block content %}
    {% if not projects %}
        <h2>No projects</h2>
    {% endif %}
    {% for project in projects %}
        <div class="w-50 mx-auto card text-center border-0" style="margin-top: 40px; background-color: darkmagenta; color: azure" >
          <div class="card-body">
              <a href="{% url 'detail_project' project.pk %}"><h5>PROJECT: {{ project.name|upper }}</h5> </a><br/>
              <p>Description: {{ project.description }}</p>
          </div>
        </div>
     {% endfor %}

{% endblock content %}