{% if not projects %}
    <h2>No projects</h2>
{% endif %}
{% for project in projects %}
<div class="w-50 mx-auto card text-center border-0" style="margin-top: 40px; background-color: darkmagenta; color: azure" >
  <div class="card-body">
      <a href="{% url 'detail_project' project.pk %}" style="color: azure; text-decoration: none"><h5>PROJECT: {{ project.name|upper }}</h5> </a><br/>
      <p>Description: {{ project.description }}</p>
      <p>Start date: ({{ project.start_date }})</p>
      {% if perms.tracker.change_project %}
     <span><a href="{% url 'update_project' project.pk %}" class="btn btn-secondary">Update</a></span>
      {% endif %}
      {% if perms.tracker.delete_project %}
       <span><a href="{% url 'delete_project' project.pk %}" class="btn btn-secondary">Delete</a></span>
      {% endif %}
  </div>
</div>
{% endfor %}

{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}